In [2]:
mydictionary={1:"abc",1:"def"}
print(mydictionary)

{1: 'def'}

In [4]:
# to print thr number of vowels from a string
myvowle={"total":0}

for char in "hey":
    if char in "aeiou":
        myvowle["total"]=myvowle["total"]+1
print(myvowle)

{'total': 1}

In [ ]:
mydictionary={1:"abc",1:"def"}
print(mydictionary)

In [10]:
myvowel={}

for char in "heyaia":
    if char in "aeiou":
        myvowel[char]=1 #insert
print(myvowel)

{'e': 1, 'a': 1, 'i': 1}

In [11]:
myvowel={}

for char in "heyaia":
    if char in "aeiou":
      if char not in myvowel:
        myvowel[char]=1 #insert
      else:
        myvowel[char]=myvowel[char]+1 #update
print(myvowel)

{'e': 1, 'a': 2, 'i': 1}

In [16]:
mylist=[10,20,30,40,12]
myvalue={}
for i in range(0,len(mylist)):
  myvalue[mylist[i]]=i
print(myvalue)

{10: 0, 20: 1, 30: 2, 40: 3, 12: 4}

In [21]:
mylist=[10,20,30,40,12]
myvalue={}
target=50
for i in range(0,len(mylist)):
  myvalue[mylist[i]]=i
print(myvalue)

for i in mylist:
  x=target-i
  if(x in myvalue):
    print("target is match",x,i)

{10: 0, 20: 1, 30: 2, 40: 3, 12: 4}
target is match 40 10
target is match 30 20
target is match 20 30
target is match 10 40

In [31]:
# mydictionary={A:65, B:66, C:--------Z}
mydictionary = {}

for i in range(65, 91):
    mydictionary[chr(i)] = i

print(mydictionary)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [26]:
ord("a")-32==65

True

In [38]:
mydictionary = {}

for i in range(65, 91):
    mydictionary[i]=chr(i)
print(mydictionary)
data="abcd"
for char in data:
  x=ord(char)-32
  if(x in mydictionary):
    print(mydictionary[x])

{65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E', 70: 'F', 71: 'G', 72: 'H', 73: 'I', 74: 'J', 75: 'K', 76: 'L', 77: 'M', 78: 'N', 79: 'O', 80: 'P', 81: 'Q', 82: 'R', 83: 'S', 84: 'T', 85: 'U', 86: 'V', 87: 'W', 88: 'X', 89: 'Y', 90: 'Z'}
A
B
C
D

In [36]:
myvalue={}
for i in range(65,91):
  myvalue[i]=chr(i)
print(myvalue)
data="abcd"
for char in data:
  x=ord(char)-32
  if(x in myvalue):
    print(myvalue[x])

{65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E', 70: 'F', 71: 'G', 72: 'H', 73: 'I', 74: 'J', 75: 'K', 76: 'L', 77: 'M', 78: 'N', 79: 'O', 80: 'P', 81: 'Q', 82: 'R', 83: 'S', 84: 'T', 85: 'U', 86: 'V', 87: 'W', 88: 'X', 89: 'Y', 90: 'Z'}
A
B
C
D

In [35]:
data="abcd"
for char in data:
  x=ord(char)-32
  if(x in myvalue):
    print(myvalue[x])

A
B
C
D

In [40]:
#set
#unique value
# mutuable
myset={1,2,"a",3,4,1,1,2}

In [41]:
myset

{1, 2, 3, 4, 'a'}

In [42]:
myset.add(66678)

In [43]:
myset.remove(3)

In [44]:
myset

{1, 2, 4, 66678, 'a'}

In [47]:
my=[10,20]
ty=[30,40]
for i in zip(my,ty):
  print(i)

(10, 30)
(20, 40)